@media screen and (min-width: 1401px) and (max-width: 1760px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0 3%;
  }
  .header__wrapper {
    height: 102px;
  }
  .menu {
    display: none;
  }
  .header__tablet-menu {
    display: inline-block;
    order: -1;
  }
  .hamburger {
    display: inline-block;
  }
  .search__field {
    padding-right: 0;
  }
  .main {
    margin: 200px auto 0 auto;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0 3%;
  }
  .header {
    top: 0;
  }
  .header__wrapper {
    height: 102px;
  }
  .logo {
    width: 150px;
    margin-bottom: 0;
    margin-left: 50px;
  }
  .contact {
    display: none;
  }
  .menu {
    display: none;
  }
  .header__tablet-menu {
    display: inline-block;
    order: -1;
  }
  .hamburger {
    display: inline-block;
  }
  .search__field {
    padding-right: 0;
  }

  .main {
    margin: 102px auto 0 auto;
    justify-content: center;
    align-items: center;
    background: url(assets/iback_tablet.png) no-repeat center center;
    background-position: top center;
  }
  .slider {
    height: 735px;
  }
  .slider__container {
    display: none;
  }
  .main__title {
    margin: 0 auto 100px auto;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 914px;
  }
  .about__content {
    width: 100%;
    margin-top: 30px;
  }
  .about__text {
    width: 782px;
    text-align: justify;
    margin-top: 10px;
  }
}
