* {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* margin: 0;
  padding: 0; */
}

header {
  width: 100%;
  position: absolute;
  height: 55px;
  left: 0px;
  top: 0px;

  background: #0067a3;
}
.main {
  background: #0079bf;
  height: 800px;
}
.scroll {
  background: white;
  height: 10px;
}
.footer {
  background: #0067a3;
  height: 55px;
}
