@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	transition: all 0.2s;
}

html,
body,
main {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	color: #fff;
	background: rgb(0, 121, 191);
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 14px;
}
.logo__icon {
	background: url(../assets/logo.svg) no-repeat center;
	width: 45px;
	height: 45px;
}
h1.logo__title {
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 33px;
	margin-left: 8px;
}
.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 270px;
}
.add-button {
	outline: none;
	border: 0;
	width: 181px;
	height: 33px;
	background: #ffffff;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.add-button__icon {
	background: url(../assets/add-list.svg) no-repeat center;
	width: 24px;
	height: 24px;
	margin: auto 8px;
}
.add-button__icon:hover {
	cursor: pointer;
	opacity: 0.7;
}
.add-button__title {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.user__menu {
	display: flex;
	align-items: center;
	position: relative;
}
.user__menu:hover,
.user__menu:focus {
	cursor: pointer;
}
.user__avatar {
	width: 40px;
	height: 40px;
	background: url(../assets/user-avatar.svg) no-repeat center;
}
.menu__arrow {
	width: 24px;
	height: 24px;
	background: url(../assets/arrow-down.svg) no-repeat center;
}
.menu__arrow:hover {
	cursor: pointer;
	opacity: 0.7;
}
.menu__arrow_shown {
	transform: rotate(180deg);
}
/* DROPDOWN LIST */
.drop-down__item {
	border-bottom: 1px solid #fff;
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.drop-down__item:last-child {
	border-bottom: none;
}
.drop-down__item:hover,
.drop-down__item:focus {
	cursor: pointer;
	background-color: #5596bb;
}

/* MAIN */

.main {
	height: 100vh;
	margin-top: 75px;
	background: rgb(0, 121, 191);
	padding: 25px;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	width: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.board__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h2.board__title {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgb(0, 0, 0);
}
.popup__button_dot {
	position: relative;
	width: 4px;
	height: 4px;
	background: rgb(0, 0, 0);
	border-radius: 100px;
	margin: auto 6px;
}
.popup__button_dot::before,
.popup__button_dot::after {
	content: ' ';
	width: 4px;
	height: 4px;
	background: rgb(0, 0, 0);
	border-radius: 100px;
	position: absolute;
}
.popup__button_dot::before {
	left: -6px;
}
.popup__button_dot::after {
	left: 6px;
}
.popup__button:hover {
	cursor: pointer;
	transform: scale(1.2);
}
.list__item {
	background: #ffffff;
	border-radius: 5px;
	padding: 7px 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: rgb(0, 0, 0);
	margin-top: 10px;
	border: none;
}
.task-input {
	width: 100%;
	min-height: 35px;
	background: #ffffff;
	border-radius: 5px 0 0 5px;
	padding: 7px 8px;
	margin-top: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgb(92, 92, 92);
	border: solid 2px #58aaf7;
	outline: none;
}
.task-input:active {
	border: solid 2px #58aaf7;
}
.add-task-button {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	line-height: 21px;
	color: #5e6c84;
	margin-top: 15px;
	border: none;
	display: block;
}
.add-task-button-hidden {
	display: none;
}
.add-task-button:hover {
	cursor: pointer;
	color: rgb(0, 121, 191);
}
.add-task-button[disabled] {
	cursor: default;
	color: rgb(128, 128, 128);
}
/* ADD TASK DROPDOWN*/
.dropdown-tasks {
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.dropdown-tasks__item {
	min-height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	color: #0067a3;
	border: 2px solid rgb(235, 236, 240);
}
.dropdown-tasks__item:first-child {
	font-size: 15px;
	background: no-repeat right rgb(235, 236, 240);
	color: #5e6c84;
}
.dropdown-tasks__item:first-child:hover {
	cursor: default;
	color: #5e6c84;
	background-color: rgb(235, 236, 240);
}
.dropdown-tasks__item:hover {
	color: #5e6c84;
}
.dropdown-tasks__item:hover,
.dropdown-tasks__item:focus {
	cursor: pointer;
	background-color: #d4e6f0;
}
.checkbox {
	margin-right: 15px;
}

.submit {
	width: 60px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: #0067a3;
	color: #fff;
	margin-top: 10px;
}
.submit:hover,
.submit:focus {
	cursor: pointer;
	background-color: #5596bb;
}
.footer-tasks-info {
	display: flex;
	align-items: center;
	margin-left: 50px;
}
.footer-tasks__status {
	margin: 0 18px;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
}
.owner {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	margin-right: 24px;
}
